@{
    ViewBag.Title = "Index";
}

@using Webdiyer.WebControls.Mvc
@using NYB.DeviceManagementSystem.Common
@using NYB.DeviceManagementSystem.ViewModel
@model PagedList<NYB.DeviceManagementSystem.ViewModel.WebProject>
<script type="text/javascript" src="@Url.Content("~/Scripts/Common/Index.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/User/Index.js")"></script>
@Styles.Render("~/Content/User/User.css");
<div actionname="项目管理">
    <form id="searchForm" method="get" class="userSearchForm">
        <input type="text" name="searchInfo" id="seacheName" value="@(ViewBag.SearchInfo)" />
        <input style="line-height:0px" type="submit" class="" id="btnSearch" value="搜索" />
    </form>
    <table class="table-common" id="pileInfo">
        <thead>
            <tr>
                @*<th class="checkbox-column">
                        <input type="checkbox" id="checkedAll_id" class="checkedAll" />
                    </th>*@
                <th>
                    <a href="" sortby="UserName">项目名称</a>
                </th>
                <th>
                    <a href="" sortby="UserName">联系人姓名</a>
                </th>
                <th>
                    登录名
                </th>
                <th>
                    <a href="" sortby="UserName">创建日期</a>
                </th>
                <th>
                    备注
                </th>
                <th class="operation-column">
                    操作
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                //string randomUrl = String.Format("{0}://{1}:{2}{3}", Request.Url.Scheme, Request.Url.Host, Request.Url.Port, ViewBag.RandomUrl);
                foreach (var project in Model)
                {
                    <tr pileid="">
                        @*<td>
                                <input type="checkbox" id="checkbox_id" />
                            </td>*@
                        <td>
                            @project.Name
                        </td>
                        <td>
                            @project.WebUser.UserName
                        </td>
                        <td>
                            @project.WebUser.LoginName
                        </td>
                        <td>
                            @project.CreateDate
                        </td>
                        <td title="@(@project.Note)" class="lengHideTd">
                            @project.Note
                        </td>
                        <td>
                            @{var routeValues = new { projectID = project.ID, returnUrl = Request.Url.AbsoluteUri, _ = DateTime.Now.Ticks };}
                            <a title="修改" href="@(Url.Action("UpdateProject", "ProjectManager", routeValues))"><img src="@Url.Content("~/Images/edit.png")" /></a>
                            <a href="#" title="删除" onclick="DataDel('@project.ID','@(Url.Action("Delete", new { _ = DateTime.Now.Ticks }))')" name="DeleteDeviceType"><img src="@Url.Content("~/Images/del.png")" /></a>
                            <a title="重置密码" href="@(Url.Action("ResetPassword", "ProjectManager", new { userID = project.WebUser.ID, returnUrl = Request.Url.AbsoluteUri, _ = DateTime.Now.Ticks }))"><img src="@Url.Content("~/Images/resetpassword.png")" /></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div class="btn-opreate">
        @Html.Partial("DisplayTemplates/PagerView", Model)
        <p>
            <input type="button" class="blue-button" id="addButton" value="添加" />
            @*<input type="button" id="btnDelete" value="删除" />*@
        </p>
    </div>
</div>

<script type="text/javascript">
    window.UrlResource = {
        UrlAddAction: '@Url.Action("AddProject", "ProjectManager", new { returnUrl = Request.Url.AbsoluteUri, _ = DateTime.Now.Ticks })'
    }

    $(document).ready(function () {
        AddRection();
        SortAlertRecord();
        SearchInfoFocus('请输入项目名称');
    })
</script>
