@using NYB.DeviceManagementSystem.ViewModel;
@using NYB.DeviceManagementSystem.Common;
@model NYB.DeviceManagementSystem.ViewModel.WebUser
@{
    ViewBag.Title = "ResetPassword";
    string returnUrl = ViewBag.ReturnUrl;
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ProjectManger/ResetPassword.js")"></script>
<link rel="Stylesheet" href="@Url.Content("~/Content/Common/OperateTable.css")" />

<div actionname="项目管理" class="operationParent">
    <form action="ResetPassword" method="post">
        @(Html.Hidden("returnUrl", returnUrl))
        @Html.HiddenFor(t => t.ID)
        <div class="common-details-panel">
            <h2>重置密码</h2>
            <fieldset>
                <table class="operateTable">
                    <tr>
                        <td>
                            <b><em>*</em>密码</b>
                        </td>
                        <td>
                            @Html.PasswordFor(model => model.Pwd)
                            @Html.ValidationMessageFor(model => model.Pwd)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b><em>*</em>确认密码</b>
                        </td>
                        <td>
                            @Html.PasswordFor(model => model.ConfirmPwd)
                            @Html.ValidationMessageFor(model => model.ConfirmPwd)
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <div class="common-details-operation-panel">
            <p class="UpdatePile-btn">
                <input type="submit" id="btnSave" value="保存" class="blue-button" />
                <a class="link-after-button" href="@ViewBag.ReturnUrl">返回</a>
            </p>
        </div>
    </form>
</div>
<script type="text/javascript">
    window.Resource = {
        UrlEdit: '@Url.Action("ResetPasswordPost", "ProjectManager")',
        ReturnUrl: '@returnUrl',
    }

    $(document).ready(function () {
        SaveEvent();
    })

</script>