<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/Site.css")*@
    @Styles.Render("~/Content/Common/common.css")
    @Styles.Render("~/Content/base.css")
    <script type="text/javascript">
        var Identity = {
            AUTH: '@(Request.Cookies[FormsAuthentication.FormsCookieName] == null ? String.Empty : Request.Cookies[FormsAuthentication.FormsCookieName].Value)',
            ASPSESSID: '@(Session.SessionID)'
        };
    </script>
    @Scripts.Render("~/Scripts/jquery.js")
    @Scripts.Render("~/Scripts/common.js")
    @Scripts.Render("~/Scripts/base.js");
    <script type="text/javascript" src="@Url.Content("~/Scripts/jQuery.query.js")"></script>
</head>
<body>
    <div class="wrap">
        <div class="page-container">
            @Html.Partial("Header")
            @Html.Partial("NavTop")
            <ul class="view-path">
                正在载入...
            </ul>
            <div class="content">
                @Html.Partial("NavLeft")
                <div class="sub-content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("Footer")
    @*<script src="@Url.Content(String.Format("~/Scripts/common.js?preventCaching={0}", DateTime.Now.Ticks))" type="text/javascript"></script>*@
    @RenderSection("scripts", false)

    <script type="text/javascript">
        @*ResourceUrl = {
            ViewIndex: '@Html.Raw(Url.Action("ViewIndex", "WebMap"))',
            HomePage: '@Html.Raw(Url.Action(String.Empty, String.Empty))',
            CurrentControllerName: '@Request.RequestContext.RouteData.Values["controller"]'
        };*@

        $(document).ready(function () {
            //InitializeFrameSize();
            //select_list();
            //HighlightNavTopItem('@ViewBag.FunctionID');
            //FindMarkAndGenerateNavigateElements();
            //BindAllDisabledButton();
            //AddEditorLeavingPrompt();
            //actionname();
            HighLeight();


        });
        
        function HighLeight() {
            var actionname = $('.sub-content div').first().attr('actionname');
            var navTop = $('.nav-top ul li[actionname="' + actionname + '"]');
            navTop.find('a').css('background-color','white').css('color','black');
            
            var otherAction = $('.nav-top ul li[actionname!="' + actionname + '"]');
            otherAction.find('a').css('color', 'white');
        }
        
    </script>

</body>
</html>
