<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Common/common.css")
    @Styles.Render("~/Content/Site.css")

    <script type="text/javascript">
        var Identity = {
            AUTH: '@(Request.Cookies[FormsAuthentication.FormsCookieName] == null ? String.Empty : Request.Cookies[FormsAuthentication.FormsCookieName].Value)',
            ASPSESSID: '@(Session.SessionID)'
        };
    </script>
    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/scripts")
</head>
<body>
    <div class="wrap">
        <div class="page-container">
            @Html.Partial("Header")
            @Html.Partial("NavTop")
            <ul class="view-path">
                正在载入...
            </ul>
            <div class="content">
                @Html.Partial("NavLeft")
                <div class="sub-content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("Footer")
    @*<script src="@Url.Content(String.Format("~/Scripts/common.js?preventCaching={0}", DateTime.Now.Ticks))" type="text/javascript"></script>*@
    @RenderSection("scripts", false)

    <script type="text/javascript">
        ResourceUrl = {
            ViewIndex: '@Html.Raw(Url.Action("ViewIndex", "WebMap"))',
            HomePage: '@Html.Raw(Url.Action(String.Empty, String.Empty))',
            CurrentControllerName: '@Request.RequestContext.RouteData.Values["controller"]'
        };

        $(document).ready(function () {
            InitializeFrameSize();
            select_list();
            //HighlightNavTopItem('@ViewBag.FunctionID');
            FindMarkAndGenerateNavigateElements();
            BindAllDisabledButton();
            AddEditorLeavingPrompt();

        });

        window.Url = {
            Action: function (action, controller, params) {
                controller = controller || '@(Request.RequestContext.RouteData.Values["controller"].ToString())';
                var paramString = '';
                for (var key in params) {
                    paramString += String.format('{0}{1}={2}', paramString.length == 0 ? '?' : '&', key, params[key]);
                }
                return String.format(unescape('@(Url.Action("{0}", "{1}"))'), action, controller) + paramString;
            },
            Content: function (path) {
                if (path.indexOf(':') > -1) {
                    return path;
                }
                return String.format(unescape('@(Url.Content("~/{0}"))'), path);
            }
        }
    </script>

</body>
</html>
