<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/Site.css")*@
    @Styles.Render("~/Content/Common/common.css")
    @Styles.Render("~/Content/base.css")
    <script type="text/javascript">
        var Identity = {
            AUTH: '@(Request.Cookies[FormsAuthentication.FormsCookieName] == null ? String.Empty : Request.Cookies[FormsAuthentication.FormsCookieName].Value)',
            ASPSESSID: '@(Session.SessionID)'
        };
    </script>
    @Scripts.Render("~/Scripts/jquery.js")
    @*@Scripts.Render("~/Scripts/common.js")*@
    <script type="text/javascript" src="@Url.Content("~/Scripts/common.js")"></script>
    @Scripts.Render("~/Scripts/base.js");
    <script type="text/javascript" src="@Url.Content("~/Scripts/jQuery.query.js")"></script>
</head>
<body>
    <div class="wrap" style="overflow-y:auto">
        <div class="page-container">
            @Html.Partial("Header")
            @*@{
                Html.RenderAction("Header", "Header");
            }*@
            @*@Html.("Header","Shared")*@
            @Html.Partial("NavTop")
            <ul class="view-path"></ul>
            <div class="content">
                @Html.Partial("NavLeft")
                <div class="sub-content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("Footer")
    @RenderSection("scripts", false)

    <script type="text/javascript">

        $(document).ready(function () {
            HighLeight();
            //SetLeftNameHeight();

            $('#_MvcPager_Ctrl0_pib').select(function () {
                console.log($('#_MvcPager_Ctrl0_pib option[]'));
            })

            $('.mvcPager input').remove();
            $('#_MvcPager_Ctrl0_pib').remove();

        });

        function HighLeight() {
            var actionname = $('.sub-content div').first().attr('actionname');
            var navTop = $('.nav-top ul li[actionname="' + actionname + '"]');

            var otherAction = $('.nav-top ul li[actionname!="' + actionname + '"]');
            otherAction.find('a').css('color', 'white');

            navTop.find('a').css('background-color', 'white').css('color', 'black');

        }

        function GetViewStatus() {
            if (typeof (Resource) != 'undefined') {
                if (Resource.hasOwnProperty('IsView')) {
                    if (Resource.IsView == 'True') {
                        $('form input[type="text"]').attr('readonly', 'readonly');
                        $('form textarea').attr('readonly', 'readonly');
                        $('form input[type="button"]').remove();
                        $('form select').attr('readonly', 'readonly');
                        $('form input[type="submit"]').remove();
                        $('.ui-datepicker-trigger').remove();
                        $('.btnDel').remove();
                        $('#ssi-upload').remove();
                    }
                }
            }
        }

        function SetLeftNameHeight() {
            $('.nav-left').height($('.sub-content').height());
        }

    </script>

</body>
</html>
