@{
    ViewBag.Title = "AddRepairRecordPartialView";
}
@model NYB.DeviceManagementSystem.ViewModel.WebRepairRecord
@{
    ViewBag.Title = "";
    string isView = ViewBag.IsView;
    isView = string.IsNullOrWhiteSpace(isView) ? "" : isView.ToString();
    string returnUrl = ViewBag.ReturnUrl;
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<link rel="Stylesheet" href="@Url.Content("~/Content/Common/OperateTable.css")" />
<script src="@Url.Content("~/Scripts/Device/AddRepairRecord.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-timepicker-addon.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.ui.datepicker-zh-CN.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/Viewer/viewer-jquery.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Viewer/viewer.min.js")" type="text/javascript"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.uploadify.js")"></script>
<link href="@Url.Content("~/Content/Plugin/jQueryUploadify/jquery.uploadify.css")" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/ssi-uploader/ssi-uploader.min.css")" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/ssi-uploader/style.css")" />

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Viewer/viewer.min.css")" />
<script src="@Url.Content("~/Scripts/Viewer/viewer-jquery.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Viewer/viewer.min.js")" type="text/javascript"></script>

<div leftname="@(ViewBag.LeftName)" class="resetFont" actionname="设备管理">
    <form method="post">
        @(Html.Hidden("returnUrl", returnUrl))
        <div class="common-details-panel">
            <h2>@(ViewBag.TitleName)</h2>
            <input type="hidden" name="DeviceID" value="@(ViewBag.DeviceID)" />
            <input type="hidden" name="RepairRecordID" value="@(ViewBag.RepairRecordID)" />
            <fieldset>
                <table class="operateTable">
                    <tr>
                        <td>
                            <b>设备名称</b>
                        </td>
                        <td>
                            <input type="text" name="DeviceName" value="@(ViewBag.DeviceName)" />
                        </td>
                        <td>
                            <b><em>*</em>维修人</b>
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Operator)
                            @Html.ValidationMessageFor(model => model.Operator)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b><em>*</em>维修日期</b>
                        </td>
                        <td name="time">
                            @Html.TextBoxFor(model => model.RepairDate)
                            @Html.ValidationMessageFor(model => model.RepairDate)
                        </td>
                    </tr>
                    <tr style="height:100px;">
                        <td>
                            <b>@Html.LabelFor(model => model.Describe)</b>
                        </td>
                        <td wt="550" ht="80" class="lengthTd">
                            @Html.TextAreaFor(model => model.Describe)
                            @Html.ValidationMessageFor(model => model.Describe)
                        </td>
                    </tr>
                    <tr style="height:100px;">
                        <td>
                            <b>@Html.LabelFor(model => model.Solution)</b>
                        </td>
                        <td wt="550" ht="80" class="lengthTd">
                            @Html.TextAreaFor(model => model.Solution)
                            @Html.ValidationMessageFor(model => model.Solution)
                        </td>
                    </tr>
                    <tr style="height:100px;">
                        <td>
                            <b>备注</b>
                        </td>
                        <td wt="550" ht="80" class="lengthTd">
                            @Html.TextAreaFor(model => model.Note)
                            @Html.ValidationMessageFor(model => model.Note)
                        </td>
                    </tr>
                </table>
                <table class="operateTable">
                    <tr>
                        <td style="width:102px;"></td>
                        <td>
                            <div class="row" style="margin:20px 0 0 0 ;">
                                <div class="col-md-12">
                                    <h3 style="font-size:12px">维修记录附件（支持jpg、jpeg、png格式文件）</h3>
                                    <input type="file" multiple id="ssi-upload" />
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <div class="common-details-operation-panel">
            <p class="UpdatePile-btn">
                <input type="submit" id="btnSave" value="保存" class="blue-button" />
                <a class="link-after-button" href="@ViewBag.ReturnUrl">返回</a>
            </p>
        </div>
    </form>
</div>
<ul id="markerFile">
    @foreach (var item in Model.Attachments)
    {
        <li filepath="@(item.FilePath)" filename="@(item.DisplayName)" fileid="@(item.ID)"></li>
    }
</ul>
<ul id="jq22" hidden="hidden">
    @foreach (var item in Model.Attachments)
    {
        <li><img filename="@(item.DisplayName)" width="200" height="200" attr="@(item.FilePath)" data-original="@(Url.Content("~/"+item.FilePath))" src="@(Url.Content("~/"+item.FilePath))" alt="图片1" />sdsd</li>
    }
</ul>

<link href="@Url.Content("~/Content/Plugin/jQuery-UI/jquery-ui-1.8.16.custom.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Plugin/jQuery-UI-Timepicker/jquery-ui-timepicker.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    window.Resource = {
        UrlAdd: '@Url.Action("AddRepairRecord", "Device", new { _ = DateTime.Now.Ticks })',
        Auth: '@(Request.Cookies[FormsAuthentication.FormsCookieName] == null ? string.Empty : Request.Cookies[FormsAuthentication.FormsCookieName].Value)',
        UrlEdit: '@(Url.Action("EditRepairRecord", "Device", new { _ = DateTime.Now.Ticks }))',
        ReturnUrl: '@returnUrl',
        Action: '@(ViewBag.OperateAction)',
        UrlImage: '@Url.Content("~/Content/Plugin/jQuery-UI-Timepicker/images/calendar.png")',
        IsView: '@(isView)',
        UrlAddFile: '@(Url.Action("AddRepairRecordFile", "Device", new { _ = DateTime.Now.Ticks }))',
        UrlEditFile: '@(Url.Action("AddRepairRecordFile", "Device", new { _ = DateTime.Now.Ticks }))',
        UrlSwf: '@Url.Content("~/Content/Plugin/jQueryUploadify/flash/uploadify.swf")',
        UrlCancelImage: '@Url.Content("~/Content/Plugin/jQueryUploadify/images/uploadify-cancel.png")',
        UrlViewPicture: '@(Url.Action("ViewPicture", "Device", new { _ = DateTime.Now.Ticks }))',
        delID: [],
        IsAddRecord: '@(ViewBag.IsAddRecord)',
        ImgDownLoad: '@(Url.Content("~/Images/download16.png"))',
        UrlDownLoad: '@(Url.Action("DownloadFile", "Device"))',
        LocalUrl: '@(Request.Url.Host)',
    }

    $(document).ready(function () {
        SaveEvent();
        BindDatePick();
        $('[name="DeviceName"]').attr('readonly', 'readonly');
        AddTxtAre();
        uploadProof();
        loadUplodify();
        var viewer = new Viewer(document.getElementById('jq22'), {
            url: 'data-original'
        });
        GetViewStatus();
    })

    function BindDatePick() {
        var path = Resource.UrlImage;
        $('td[name="time"] input').datepicker({
            showButtonPanel: true,
            yearRange: 'c-10:c+2',
            showOn: "button", buttonImageOnly: true,
            numberOfMonths: 1,
            changeMonth: true,
            changeYear: true,
            buttonImage: path
        }).datepicker("option", "dateFormat", 'yy-mm-dd');;
        BindDatePickerTriggerEvent();
        $('td[name="time"] input').attr('readonly', 'readonly');

        if (Resource.Action == 'Update') {
            $('#RepairDate').val('@Model.RepairDate.ToString("yyyy-MM-dd")');
        }

    }

</script>