@{
    ViewBag.Title = "Index";
}

@using Webdiyer.WebControls.Mvc
@using NYB.DeviceManagementSystem.Common
@using NYB.DeviceManagementSystem.ViewModel
@model PagedList<NYB.DeviceManagementSystem.ViewModel.WebSupplier>
@Styles.Render("~/Content/User/User.css")
<div actionname="基础信息管理">
    <form method="get" class="userSearchForm">
        <input type="text" name="searchInfo" id="searchInfo" value="" />
        <input style="line-height:0px" type="submit" class="" id="btnSearch" value="搜索" />
    </form>
    <table class="table-common" id="pileInfo">
        <thead>
            <tr>
                <th>
                    名称
                </th>
                <th>
                    联系人
                </th>
                <th>
                    手机
                </th>
                <th>
                    电话
                </th>
                <th>
                    地址
                </th>
                <th>
                    备注
                </th>
                <th class="operation-column">
                    操作
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var supplier in Model)
                {
                    <tr pileid="">
                        <td>
                            @supplier.Name
                        </td>
                        <td>
                            @supplier.Contact
                        </td>
                        <td>
                            @supplier.Mobile
                        </td>
                        <td>
                            @supplier.Phone
                        </td>
                        <td>
                            @supplier.Address
                        </td>
                        <td>
                            @supplier.Note
                        </td>
                        <td>
                            @{var routeValues = new { supplierID = supplier.ID, returnUrl = Request.Url.AbsoluteUri, _ = DateTime.Now.Ticks };}
                            @Html.ActionLink("修改", "Edit", routeValues)
                            @Html.ActionLink("查看", "Details", routeValues)
                            <a href="#" onclick="DeleteSupplier('@supplier.ID')" name="DeleteSupplier">刪除</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div class="btn-opreate">
        @Html.Partial("DisplayTemplates/PagerView", Model)
        <p>
            <input type="button" class="blue-button" id="addSupplier" value="添加" />
        </p>
    </div>
</div>

<script type="text/javascript">
    window.UrlResource = {
        UrlAddAction: '@Url.Action("Create", new { returnUrl = Request.Url.AbsoluteUri })'
    }

    $(document).ready(function () {
        $('#addSupplier').click(function () {
            window.location = window.UrlResource.UrlAddAction;
        })
    })

    function DeleteSupplier(t) {
        if (window.confirm("是否删除？")) {
            $.post('@Url.Action("Delete")', { supplierID: t }, function (result) {
                if (result.Code == 0) {
                    window.location.reload();
                } else {
                    alert(result.Msg);
                }
            })
        }
    }
</script>
