@using NYB.DeviceManagementSystem.ViewModel;
@model NYB.DeviceManagementSystem.ViewModel.WebMaintainRecord

@{
    ViewBag.Title = "AddRepairRecordPartialView";
    string isView = ViewBag.IsView;
    isView = string.IsNullOrWhiteSpace(isView) ? "" : isView.ToString();
    string returnUrl = ViewBag.ReturnUrl;
    List<WebMaintainItem> allMaintainItems = ViewBag.AllMaintainItems;
}
<style type="text/css">
    .content .form-control {
        width: 262px;
    }

    .content .bootstrap-duallistbox-container {
        width: 585px;
    }

    .content .form-control {
        overflow: scroll;
    }
</style>

<link href="~/Scripts/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Scripts/duallistbox/bootstrap-duallistbox.min.css" rel="stylesheet" />
@*<script src="@Url.Content("~/Scripts/bootstrap-3.3.5-dist/js/bootstrap.min.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Scripts/duallistbox/jquery.bootstrap-duallistbox.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@*<link rel="Stylesheet" href="@Url.Content("~/Content/Common/OperateTable.css")" />*@
<link rel="Stylesheet" href="@Url.Content("~/Content/Device/AddRepairRecordPartialView.css")" />
<script src="@Url.Content("~/Scripts/jquery-ui.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-timepicker-addon.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.ui.datepicker-zh-CN.js")" type="text/javascript"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/ssi-uploader/bootstrap.min.css")" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/ssi-uploader/ssi-uploader.min.css")" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/ssi-uploader/style.css")" />
<script src="@Url.Content("~/Scripts/Viewer/viewer-jquery.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Viewer/viewer.min.js")" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Viewer/viewer.min.css")" />

<div leftname="@(ViewBag.LeftName)" class="resetFont" actionname="设备管理">
    <form method="post">
        @*@(Html.Hidden("returnUrl", returnUrl))*@
        <input type="hidden" name="returnUrl" id="returnUrl" value="@(returnUrl)" />
        <div class="common-details-panel">
            <h2 style="margin:0px">添加保养记录</h2>
            <input type="hidden" name="DeviceID" value="@(ViewBag.DeviceID)" />
            <input type="hidden" name="MaintainRecordID" value="@(Model.ID)" />
            <fieldset>
                <table class="operateTable" style="font-size:12px;">
                    <tr>
                        <td style="width:90px;">
                            <b>设备名称</b>
                        </td>
                        <td>
                            <input type="text" name="DeviceName" value="@(ViewBag.DeviceName)" />
                        </td>
                        <td>
                            <b><em>*</em>保养人</b>
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Operator)
                            @Html.ValidationMessageFor(model => model.Operator)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b><em>*</em>保养日期</b>
                        </td>
                        <td name="time">
                            @Html.TextBoxFor(model => model.MaintainDate)
                            @Html.ValidationMessageFor(model => model.MaintainDate)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>备注</b>
                        </td>
                        <td wt="558" ht="80" class="lengthTd">
                            @Html.TextAreaFor(model => model.Note)
                            @Html.ValidationMessageFor(model => model.Note)
                        </td>
                    </tr>
                </table>
                <table style="margin-top:10px;" class="operateTable">
                    <tr>
                        <td>
                            <b>保养条目</b>
                        </td>
                        <td>
                            <select multiple="multiple" size="10" name="maintainItems" id="maintainItems">
                                @{
                                    var selectIDs = Model.MaintainItems.Select(t => t.ID).ToList();
                                    foreach (var item in allMaintainItems)
                                    {
                                        if (selectIDs.Contains(item.ID))
                                        {
                                            <option title="@item.Name" value="@(item.ID)" selected="selected">@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@(item.ID)">@item.Name</option>
                                        }
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                </table>
                <table class="operateTable">
                    <tr>
                        <td style="width:90px;">
                            <b style="visibility:hidden">保养条目</b>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 style="font-size:12px">保养记录附件（支持jpg、jpeg、png格式文件）</h3>
                                    <input type="file" multiple id="ssi-upload" />
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                @*<div class="row" style="margin:20px 0 0 0 ;">
                        <div class="col-md-12">
                            <h3 style="font-size:12px">保养记录附件（支持jpg、gif、txt、png和pdf格式文件）</h3>
                            <input type="file" multiple id="ssi-upload" />
                        </div>
                    </div>*@
            </fieldset>
        </div>
        <div class="common-details-operation-panel">
            @* <p class="UpdatePile-btn">*@
            <table class="operateTable">
                <tr>
                    <td style="width:90px; visibility:hidden"><b>ssdsds</b></td>
                    <td>
                        <input type="submit" id="btnSave" value="保存" class="blue-button" />
                        <a style="font-size:12px" class="link-after-button" href="@ViewBag.ReturnUrl">返回</a>
                    </td>
                </tr>
            </table>
            @*</p>*@
        </div>
    </form>
</div>
<ul id="markerFile">
    @foreach (var item in Model.Attachments)
    {
        <li filepath="@(item.FilePath)" filename="@(item.DisplayName)" fileid="@(item.ID)"></li>
    }
</ul>
<ul id="jq22" hidden="hidden">
    @foreach (var item in Model.Attachments)
    {
        <li><img filename="@(item.DisplayName)" width="200" height="200" attr="@(item.FilePath)" data-original="@(Url.Content("~/"+item.FilePath))" src="@(Url.Content("~/"+item.FilePath))" alt="图片1" />sdsd</li>
    }
</ul>

<link href="@Url.Content("~/Content/Plugin/jQuery-UI/jquery-ui-1.8.16.custom.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Plugin/jQuery-UI-Timepicker/jquery-ui-timepicker.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/ssi-uploader/ssi-uploader.js")" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.uploadify.js")"></script>
<link href="@Url.Content("~/Content/Plugin/jQueryUploadify/jquery.uploadify.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/Device/AddEditMaintainRecord.js")"></script>

<script type="text/javascript">
    window.Resource = {
        UrlAdd: '@Url.Action("AddMainTainRecord", "Device", new { _ = DateTime.Now.Ticks })',
        UrlEdit: '@(Url.Action("EditMaintainRecord", "Device", new { _ = DateTime.Now.Ticks }))',
        Auth: '@(Request.Cookies[FormsAuthentication.FormsCookieName] == null ? string.Empty : Request.Cookies[FormsAuthentication.FormsCookieName].Value)',
        ReturnUrl: $('#returnUrl').val(),
        IsAddRecord: '@(ViewBag.IsAddRecord)',
        Action: '@(ViewBag.OperateAction)',
        UrlAddFile: '@(Url.Action("AddMaintainRecordFile", "Device", new { _ = DateTime.Now.Ticks }))',
        UrlEditFile: '@(Url.Action("AddMaintainRecordFile", "Device", new { _ = DateTime.Now.Ticks }))',
        UrlImage: '@Url.Content("~/Content/Plugin/jQuery-UI-Timepicker/images/calendar.png")',
        UrlCancelImage: '@Url.Content("~/Content/Plugin/jQueryUploadify/images/uploadify-cancel.png")',
        UrlSwf: '@Url.Content("~/Content/Plugin/jQueryUploadify/flash/uploadify.swf")',
        delID: [],
        UrlViewPicture: '@(Url.Action("ViewPicture", "Device", new { _ = DateTime.Now.Ticks }))',
        LocalUrl: '@(Request.Url.Host)',
        ImgDownLoad: '@(Url.Content("~/Images/download16.png"))',
        UrlDownLoad: '@(Url.Action("DownloadFile", "Device"))',
        IsView: '@(isView)'
    }

    $(document).ready(function () {
        listbox();
        BindDatePick();
        uploadProof();
        loadUplodify();
        GetViewStatus();
        var viewer = new Viewer(document.getElementById('jq22'), {
            url: 'data-original'
        });
        AddTxtAre();
        $('[name="DeviceName"]').attr('readonly', 'readonly');
        if (Resource.Action == 'Add') {
            $('#Operator').focus();
            $('#Operator').val('\t');
            $('#Operator').val('');
            $('#Operator').keyup();
        }
        AddTitle();
    })

    function AddTitle() {

        $('.form-control option').each(function () {
            $(this).attr('title', $(this).text());
        })
    }

    function BindDatePick() {
        var path = Resource.UrlImage;
        $('td[name="time"] input').datepicker({
            showButtonPanel: true,
            yearRange: 'c-10:c+2',
            showOn: "button", buttonImageOnly: true,
            numberOfMonths: 1,
            changeMonth: true,
            changeYear: true,
            buttonImage: path,
        }).datepicker("option", "dateFormat", 'yy-mm-dd');
        BindDatePickerTriggerEvent();
        $('td[name="time"] input').attr('readonly', 'readonly');

        if (Resource.Action == 'Update') {
            $('#MaintainDate').val('@Model.MaintainDate.ToString("yyyy-MM-dd")');
        }

    }

    function listbox() {
        var demo2 = $('#maintainItems').bootstrapDualListbox({
            nonSelectedListLabel: '所有保养条目',
            selectedListLabel: '需保养条目',
            preserveSelectionOnMove: 'moved',
            moveOnSelect: false,
            filterPlaceHolder: '名称',
            infoText: '共{0}条',
            infoTextEmpty: '共0条',
            infoTextFiltered: '<span class="label label-warning">从 {1} 条中过滤出 {0} 条</span>',
            filterTextClear: '显示全部'
            //nonSelectedFilter: 'ion ([7-9]|[1][0-2])'
        });
    }

</script>
