@using NYB.DeviceManagementSystem.ViewModel;
@using NYB.DeviceManagementSystem.Common;
@model NYB.DeviceManagementSystem.ViewModel.WebProject
@{
    ViewBag.Title = "AddUpdatePartialView";
    string returnUrl = ViewBag.ReturnUrl;
    string isView = ViewBag.IsView;
    isView = string.IsNullOrWhiteSpace(isView) ? "" : isView.ToString();
    bool isAdd = ViewBag.Action == "Add";
    object readonlyValue = null;
    if (isAdd == false)
    {
        readonlyValue = new { @readonly = "readonly" };
    }
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ProjectManger/AddUpdatePartial.js")"></script>
<link rel="Stylesheet" href="@Url.Content("~/Content/Common/OperateTable.css")" />

<script src="@Url.Content("~/Scripts/js-md5.js")" type="text/javascript"></script>

<div actionname="项目管理" class="operationParent">
    <form action="AddUser" method="post">
        @(Html.Hidden("returnUrl", returnUrl))
        <div class="common-details-panel">
            <h2>添加项目信息</h2>
            @Html.HiddenFor(model => model.ID)
            <fieldset>
                <table class="operateTable">
                    <tr>
                        <td>
                            <b><em>*</em>项目名称</b>
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </td>
                        <td>
                            <b><em>*</em>联系人姓名</b>
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.WebUser.UserName)
                            @Html.ValidationMessageFor(model => model.WebUser.UserName)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b><em>*</em>登录名</b>
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.WebUser.LoginName, readonlyValue)
                            @Html.ValidationMessageFor(model => model.WebUser.LoginName)
                        </td>
                        <td>
                            <b>电话</b>
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.WebUser.TelPhone)
                            @Html.ValidationMessageFor(model => model.WebUser.TelPhone)
                        </td>
                    </tr>
                    @if (isAdd)
                    {
                        <tr>
                            <td>
                                <b><em>*</em>密码</b>
                            </td>
                            <td>
                                @Html.PasswordFor(model => model.WebUser.Pwd)
                                @Html.ValidationMessageFor(model => model.WebUser.Pwd)
                            </td>
                            <td>
                                <b><em>*</em>@Html.LabelFor(model => model.WebUser.ConfirmPwd)</b>
                            </td>
                            <td>
                                @Html.PasswordFor(model => model.WebUser.ConfirmPwd)
                                @Html.ValidationMessageFor(model => model.WebUser.ConfirmPwd)
                            </td>
                        </tr>
                    }

                    <tr>
                        <td>
                            <b>地址</b>
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.WebUser.Address)
                            @Html.ValidationMessageFor(model => model.WebUser.Address)
                        </td>
                        <td>
                            <b>电子邮件</b>
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.WebUser.Email)
                            @Html.ValidationMessageFor(model => model.WebUser.Email)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>备注</b>
                        </td>
                        <td wt="570" ht="80" style="margin-top:5px" class="lengthTd">
                            @Html.TextAreaFor(model => model.Note)
                            @Html.ValidationMessageFor(model => model.Note)
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <div class="common-details-operation-panel">
            <p class="UpdatePile-btn">
                <input type="submit" id="btnSave" value="保存" class="blue-button" />
                <a class="link-after-button" href="@ViewBag.ReturnUrl">返回</a>
            </p>
        </div>
    </form>
</div>
<script type="text/javascript">
    window.Resource = {
        UrlAdd: '@Url.Action("AddProject", "ProjectManager", new { _ = DateTime.Now.Ticks })',
        UrlEdit: '@Url.Action("UpdateProject", "ProjectManager", new { _ = DateTime.Now.Ticks })',
        ReturnUrl: '@returnUrl',
        UrlAction: '@ViewBag.Action',
        IsView: '@(isView)'
    }

    $(document).ready(function () {
        SaveEvent();
        AddTxtAre();
    })

</script>