@using Webdiyer.WebControls.Mvc
@using NYB.DeviceManagementSystem.Common
@using NYB.DeviceManagementSystem.ViewModel
@model PagedList<NYB.DeviceManagementSystem.ViewModel.WebDevice>
@Styles.Render("~/Content/User/User.css")
<script type="text/javascript" src="@Url.Content("~/Scripts/Common/Index.js")"></script>
<div actionname="设备管理">
    <form method="get" class="userSearchForm">
        <input type="text" name="userName" id="seacheName" value="" />
        <input style="line-height:0px" type="submit" class="" id="btnSearch" value="搜索" />
    </form>

    <table class="table-common" id="pileInfo">
        <thead>
            <tr>
                <th>
                    名称
                </th>
                <th>
                    备注
                </th>
                <th>
                    设备类型
                </th>
                <th>
                    生产厂商
                </th>
                <th>
                    供应商
                </th>
                <th>
                    生产日期
                </th>
                <th>
                    保养日期
                </th>
                <th class="operation-column">
                    操作
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var device in Model)
                {
                    <tr pileid="">
                        <td>
                            @device.Name
                        </td>
                        <td>
                            @device.Note
                        </td>
                        <td>
                            @device.DeviceTypeName
                        </td>
                        <td>
                            @device.ManufacturerName
                        </td>
                        <td>
                            @device.SupplierName
                        </td>
                        <td>
                            @device.ProductDate
                        </td>
                        <td>
                            @device.MaintainDate
                        </td>
                        <td>
                            @{var routeValues = new { deviceTypeID = device.ID, returnUrl = Request.Url.AbsoluteUri, _ = DateTime.Now.Ticks };}
                            @Html.ActionLink("修改", "EditDevice", routeValues)         
                            @Html.ActionLink("查看", "Details", routeValues)
                            <a href="#" onclick="DeleteDeviceType('@device.ID')" nam name="DeleteDeviceType">刪除</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="btn-opreate">
        @Html.Partial("DisplayTemplates/PagerView", Model)
        <p>
            <input type="button" class="blue-button" id="addButton" value="添加" />
        </p>
    </div>
</div>
<script type="text/javascript">
    window.UrlResource = {
        UrlAddAction: '@Url.Action("CreateDevice", "Device", new { returnUrl = Request.Url.AbsoluteUri })'
    }

    $(document).ready(function () {
        AddRection();
        SortAlertRecord();
       
    })
</script>