@using Webdiyer.WebControls.Mvc
@using NYB.DeviceManagementSystem.Common
@using NYB.DeviceManagementSystem.ViewModel
@model PagedList<NYB.DeviceManagementSystem.ViewModel.WebDevice>
@Styles.Render("~/Content/User/User.css")
<script type="text/javascript" src="@Url.Content("~/Scripts/Common/Index.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/User/Index.js")"></script>
<div leftname="设备信息" actionname="设备管理">
    <form method="get" id="searchForm" class="userSearchForm">
        <input type="text" name="searchInfo" id="seacheName" value="@(ViewBag.SearchInfo)" />
        <input style="line-height:0px" type="submit" class="" id="btnSearch" value="搜索" />
    </form>

    <table class="table-common" id="pileInfo">
        <thead>
            <tr>
                <th>
                    名称
                </th>
                <th>
                    备注
                </th>
                <th>
                    设备类型
                </th>
                <th>
                    生产厂商
                </th>
                <th>
                    供应商
                </th>
                <th>
                    生产日期
                </th>
                <th>
                    保养日期
                </th>
                <th style="width:300px;" class="operation-column">
                    操作
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var device in Model)
                {
                    <tr pileid="">
                        <td>
                            @device.Name
                        </td>
                        <td>
                            @device.Note
                        </td>
                        <td>
                            @device.DeviceTypeName
                        </td>
                        <td>
                            @device.ManufacturerName
                        </td>
                        <td>
                            @device.SupplierName
                        </td>
                        <td>
                            @(!device.ProductDate.HasValue ? "" : device.ProductDate.Value.ToString("yyyy-MM-dd"))
                        </td>
                        <td>
                            @(!device.MaintainDate.HasValue ? "" : device.MaintainDate.Value.ToString("yyyy-MM-dd"))
                        </td>
                        <td class="opreateTd">
                            @{var routeValues = new { deviceTypeID = device.ID,deviceName = device.Name, returnUrl = Request.Url.AbsoluteUri, _ = DateTime.Now.Ticks };}
                            @{var addRepairObj = new { deviceID = device.ID, returnUrl = Request.Url.AbsoluteUri, deviceName = device.Name, _ = DateTime.Now.Ticks }; }
                            @*@Html.ActionLink("修改", "EditDevice", routeValues)*@
                            <a title="修改设备信息" href="@(Url.Action("EditDevice", "Device", routeValues))"><img src="@Url.Content("~/Images/edit.png")" /></a>
                            @*@Html.ActionLink("查看", "Details", routeValues)*@
                            @*<a title="查看设备信息" href="@(Url.Action("Details", "Device", routeValues))"><img src="@Url.Content("~/Images/look.png")" /></a>*@
                            <a href="#" title="删除设备信息" onclick="DataDel('@device.ID','@(Url.Action("Delete"))')" name="DeleteDeviceType"><img src="@Url.Content("~/Images/del.png")" /></a>
                            @*@Html.ActionLink("生成维修记录", "AddRepairRecord", addRepairObj)*@
                            <a title="生成维修记录" href="@(Url.Action("AddRepairRecord", "Device", addRepairObj))"><img src="@Url.Content("~/Images/repairimg.png")" /></a>
                            @*@Html.ActionLink("查看维修记录", "RepairRecordList", addRepairObj)*@
                            <a title="查看维修记录" href="@(Url.Action("RepairRecordList", "Device", addRepairObj))"><img src="@Url.Content("~/Images/lookrepair.png")" /></a>
                            @*@Html.ActionLink("生成保养记录", "AddMainTainRecord", addRepairObj)*@
                            <a title="生成保养记录" href="@(Url.Action("AddMainTainRecord", "Device", addRepairObj))"><img src="@Url.Content("~/Images/maintainimg.png")" /></a>
                            @*@Html.ActionLink("查看保养记录", "MaintainRecordList", addRepairObj)*@
                            <a title="查看保养记录" href="@(Url.Action("MaintainRecordList", "Device", addRepairObj))"><img src="@Url.Content("~/Images/lockmarintain.png")" /></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="btn-opreate">
        @Html.Partial("DisplayTemplates/PagerView", Model)
        <p>
            <input type="button" class="blue-button" id="addButton" value="添加" />
        </p>
    </div>
</div>
<script type="text/javascript">
    window.UrlResource = {
        UrlAddAction: '@Url.Action("CreateDevice", "Device", new { returnUrl = Request.Url.AbsoluteUri })'
    }

    $(document).ready(function () {
        AddRection();
        SortAlertRecord();
        SearchInfoFocus('请输入设备名称');


    })
</script>