@{
    Layout = "";
}
@{
    ViewBag.Title = "AddPileType";
}
@model NYB.DeviceManagementSystem.ViewModel.WebUser
@*<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>*@
<form action="ResetPassword" method="post">
    <div id="changePwd" class="common-details-panel">
        <h2>修改密码</h2>
        <fieldset>
            <table class="operateTable">
                <tr>
                    <td>
                        <b><em>*</em>原始密码</b>
                    </td>
                    <td style="width:620px">
                        @Html.PasswordFor(model => model.OldPwd)
                        @*@Html.ValidationMessageFor(model => model.OldPwd)*@
                    </td>
                </tr>
                <tr>
                    <td>
                        <b><em>*</em>新密码</b>
                    </td>
                    <td style="width:620px">
                        @Html.PasswordFor(model => model.Pwd)
                        @*@Html.ValidationMessageFor(model => model.Pwd)*@
                    </td>
                </tr>
                <tr>
                    <td>
                        <b><em>*</em>确认密码</b>
                    </td>
                    <td style="width:620px">
                        @Html.PasswordFor(model => model.ConfirmPwd)
                        @*@Html.ValidationMessageFor(model => model.ConfirmPwd)*@
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
    <div class="common-details-operation-panel">
        <p class="UpdatePile-btn">
            <input type="submit" id="changePwdBtn" value="保存" class="blue-button" />
            <a class="link-after-button" href="@ViewBag.ReturnUrl">返回</a>
        </p>
    </div>
</form>

<script type="text/javascript">

    $(document).ready(function () {

        $('#OldPwd').focus(function () {
            $(this).parent().find('.err-prompt').remove();
        })

        $('#Pwd').focus(function () {
            $(this).parent().find('.err-prompt').remove();
        })

        $('#ConfirmPwd').focus(function () {
            $(this).parent().find('.err-prompt').remove();
        })

        $('#OldPwd').blur(function () {
            if ($(this).val() != '') {
                $(this).parent().find('.err-prompt').remove();
            } else {
                if ($(this).parent().find('.err-prompt').length == 0) {
                    $(this).parent().append('<span class="err-prompt">原始密码不能为空！</span>');
                }
            }
        })

        $('#Pwd').blur(function () {
            if ($(this).val() != '') {
                $(this).parent().find('.err-prompt').remove();
            } else {
                if ($(this).parent().find('.err-prompt').length == 0) {
                    $('#Pwd').parent().append('<span class="err-prompt">密码不能为空！</span>');
                }
            }

            if ($(this).val() != $('#ConfirmPwd').val()) {
                if ($('#ConfirmPwd').parent().find('.err-prompt').length == 0) {
                    $('#ConfirmPwd').parent().append('<span class="err-prompt">密码和确认密码必须一致！</span>');
                }
            }
        })
    })

    $('#ConfirmPwd').blur(function () {
        if ($(this).val() != '') {
            $(this).parent().find('.err-prompt').remove();
        } else {
            if ($(this).parent().find('.err-prompt').length == 0) {
                $('#ConfirmPwd').parent().append('<span class="err-prompt">确认密码不能为空！</span>');
            }
        }

        if ($(this).val() != $('#Pwd').val()) {
            if ($(this).parent().find('.err-prompt').length == 0) {
                $('#ConfirmPwd').parent().append('<span class="err-prompt">密码和确认密码必须一致！</span>');
            }
        }
    })

    $('#changePwdBtn').click(function (e) {
        e.preventDefault();
        var oldPasswordInput = $('#OldPwd').val();
        var Pwd = $('#Pwd').val();
        var ConfirmPwd = $('#ConfirmPwd').val();

        if ($('#oldPasswordInput').parent().find('.err-prompt').length == 0) {
            if (oldPasswordInput == '') {
                $('#oldPasswordInput').parent().append('<span class="err-prompt">原始密码不能为空！</span>');
            }
        }

        if ($('#Pwd').parent().find('.err-prompt').length == 0) {
            if (Pwd == '') {
                $('#Pwd').parent().append('<span class="err-prompt">密码不能为空！</span>');
            }
        }

        if ($('#ConfirmPwd').parent().find('.err-prompt').length == 0) {
            if (ConfirmPwd == '') {
                $('#ConfirmPwd').parent().append('<span class="err-prompt">确认密码不能为空！</span>');
            }
        }

        if ($('#ConfirmPwd').parent().find('.err-prompt').length == 0) {
            if (Pwd != '' && ConfirmPwd != '' && Pwd != ConfirmPwd) {
                $('#ConfirmPwd').parent().append('<span class="err-prompt">密码和确认密码必须一致！</span>');
            }
        }
        if ($('#changePwd').find('.err-prompt').length == 0) {
            $.post('@(Url.Action("ChnagePassword", "User", new { _ = DateTime.Now.Ticks }))', { oldPassword: oldPasswordInput, newPassword: Pwd }, function (data) {
                if (data.Code == 0) {
                    alert('密码修改成功！');
                    $("#passwordDialog").dialog("close");
                    $('#changePwd input[type="text"]').val('');
                } else {
                    alert(data.Msg);
                }
            });
        }
    })
</script>
