@{
    ViewBag.Title = "Index";
}

@using Webdiyer.WebControls.Mvc
@using NYB.DeviceManagementSystem.Common
@using NYB.DeviceManagementSystem.ViewModel
@model PagedList<NYB.DeviceManagementSystem.ViewModel.WebDeviceType>
@Styles.Render("~/Content/User/User.css")
<script type="text/javascript" src="@Url.Content("~/Scripts/User/Index.js")"></script>
<div leftname="设备类别管理" actionname="基础信息管理">
    <form id="searchForm" method="get" class="userSearchForm">
        <input type="text" name="searchInfo" id="seacheName" value="@(ViewBag.SearchInfo)" />
        <input style="line-height:0px" type="submit" class="" id="btnSearch" value="搜索" />
    </form>
    <table class="table-common" id="pileInfo">
        <thead>
            <tr>
                <th>
                    名称
                </th>
                <th>
                    备注
                </th>
                <th>
                    创建人
                </th>
                <th>
                    创建时间
                </th>
                <th class="operation-column">
                    操作
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var deviceType in Model)
                {
                    <tr pileid="">
                        <td>
                            @deviceType.Name
                        </td>
                        <td title="@(@deviceType.Note)" class="lengHideTd">
                            @deviceType.Note
                        </td>
                        <td>
                            @deviceType.CreateUserName
                        </td>
                        <td>
                            @deviceType.CreateDate.ToString("yyyy-MM-dd HH:mm:ss")
                        </td>
                        <td>
                            @{var routeValues = new { deviceTypeID = deviceType.ID, returnUrl = Request.Url.AbsoluteUri, _ = DateTime.Now.Ticks };}
                            <a title="修改" href="@(Url.Action("Edit", "DeviceTypeManager", routeValues))"><img src="@Url.Content("~/Images/edit.png")" /></a>
                            <a title="查看" href="@(Url.Action("Details", "DeviceTypeManager", routeValues))"><img src="@Url.Content("~/Images/look.png")" /></a>
                            <a href="#" onclick="DataDel('@deviceType.ID','@(Url.Action("Delete"))')" name="DeleteDeviceType"><img src="@Url.Content("~/Images/del.png")" /></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div class="btn-opreate">
        @Html.Partial("DisplayTemplates/PagerView", Model)
        <p>
            <input type="button" class="blue-button" id="addDeviceType" value="添加" />
        </p>
    </div>
</div>

<script type="text/javascript">
    window.UrlResource = {
        UrlAddAction: '@Url.Action("Create", new { returnUrl = Request.Url.AbsoluteUri })'
    }

    $(document).ready(function () {
        $('#addDeviceType').click(function () {
            window.location = window.UrlResource.UrlAddAction;
        })
        SearchInfoFocus('请输入名称、创建人');
    })

    function DeleteDeviceType(t) {
        if (window.confirm("是否删除？")) {
            $.post('@Url.Action("Delete")', { deviceTypeID: t }, function (result) {
                if (result.Code == 0) {
                    window.location.reload();
                } else {
                    alert(result.Msg);
                }
            })
        }
    }
</script>
