@using NYB.DeviceManagementSystem.ViewModel;
@using NYB.DeviceManagementSystem.Common;
@model NYB.DeviceManagementSystem.ViewModel.WebDeviceType
@{
    string returnUrl = ViewBag.ReturnUrl;
    object readonlyValues = null;
    bool isDetails = false;
    if (ViewBag.Action == "Details")
    {
        isDetails = true;
        readonlyValues = new { @readonly = "readonly" };
    }
    string isView = ViewBag.IsView;
    isView = string.IsNullOrWhiteSpace(isView) ? "" : isView.ToString();

    List<WebMaintainItem> allMaintainItems = ViewBag.AllMaintainItems;
}
<style type="text/css">
    .content .form-control {
        width: 269px;
    }
    .bootstrap-duallistbox-container {
        width:600px;
    }

    body .content .form-control {
        overflow: scroll;
    }
</style>

<link href="~/Scripts/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Scripts/duallistbox/bootstrap-duallistbox.min.css" rel="stylesheet" />
@*<script src="@Url.Content("~/Scripts/bootstrap-3.3.5-dist/js/bootstrap.min.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Scripts/duallistbox/jquery.bootstrap-duallistbox.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<link rel="Stylesheet" href="@Url.Content("~/Content/Common/OperateTable.css")" />

<div leftname="设备类别管理" actionname="基础信息管理" class="operationParent resetFont">
    <form method="post">
        @(Html.Hidden("returnUrl", returnUrl))
        <div class="common-details-panel">
            <h2 style="margin-top:0px;">设备类型信息</h2>
            @Html.HiddenFor(model => model.ID)
            <fieldset>
                <table class="operateTable">
                    <tr>
                        <td style="width:80px;">
                            <b><em>*</em> @Html.LabelFor(model => model.Name)</b>
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Name, readonlyValues)
                            @Html.ValidationMessageFor(model => model.Name)
                        </td>
                        <td></td>
                        <td><input style="visibility:hidden;" type="text" /></td>
                    </tr>
                    <tr>
                        <td>
                            <b>@Html.LabelFor(model => model.Note)</b>
                        </td>
                        <td wt="570" ht="30" class="lengthTd">
                            @Html.TextAreaFor(model => model.Note, readonlyValues)
                            @Html.ValidationMessageFor(model => model.Note)
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                <table class="operateTable">
                    <tr>
                        <td>
                            <b>保养条目</b>
                        </td>
                        <td>
                            <select multiple="multiple" style="width:169px" size="10" name="maintainItems" id="maintainItems">
                                @{
                                    var selectIDs = Model.MaintainItems.Select(t => t.ID).ToList();
                                    foreach (var item in allMaintainItems)
                                    {
                                        if (selectIDs.Contains(item.ID))
                                        {
                                            <option value="@(item.ID)" selected="selected">@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@(item.ID)">@item.Name</option>
                                        }
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>

        <div class="common-details-operation-panel">
            <p class="UpdatePile-btn">
                @if (isDetails == false)
                {
                    <input type="submit" id="btnSave" value="保存" class="blue-button" />
                }
                <a class="link-after-button" href="@ViewBag.ReturnUrl">返回</a>
            </p>
        </div>
    </form>
</div>
<script type="text/javascript">
    window.Resource = {
        UrlAdd: '@Url.Action("Create", new { _ = DateTime.Now.Ticks })',
        UrlEdit: '@Url.Action("Edit", new { _ = DateTime.Now.Ticks })',
        ReturnUrl: '@returnUrl',
        UrlAction: '@ViewBag.Action',
        IsView: '@(isView)'
    }

    $(document).ready(function () {
        listbox();
        SaveEvent();
        AddTxtAre();
    })

    function SaveEvent() {
        $('form').submit(function (e) {
            e.preventDefault();
            var returnUrl = $('[name="returnUrl"]');

            var param = {};
            var ID = $('[name="ID"]').val();
            var Name = $('[name="Name"]').val();
            var Note = $('textarea[name="Note"]').val();
            var MaintainItems = [];

            var items = $('#maintainItems').val();
            if (items !== null) {
                for (var i = 0; i < items.length; i++) {
                    param['MaintainItems[' + i + '].ID'] = items[i];
                }
            }

            param['ID'] = ID;
            param['Name'] = Name;
            param['Note'] = Note;

            if ($('span.errorMessage').length == 0 && $('.field-validation-error').length == 0) {
                if (Resource.UrlAction == 'Create') {
                    AjaxEvent(Resource.UrlAdd, param);
                } else {
                    AjaxEvent(Resource.UrlEdit, param);
                }
            }
        });
        $('select').change(function () {
            $(this).parent().find('.errorMessage').remove();
        })
    }

    function AjaxEvent(url, param) {
        $.post(url, param, function (data) {
            //var result = Json.parse(data);
            if (data.Code == '0') {
                window.location.href = Resource.ReturnUrl;
            } else {
                window.alert(data.Msg);
            }
        });
    }

    function listbox() {
        var demo2 = $('#maintainItems').bootstrapDualListbox({
            nonSelectedListLabel: '所有保养条目',
            selectedListLabel: '需保养条目',
            preserveSelectionOnMove: 'moved',
            moveOnSelect: false,
            filterPlaceHolder: '名称',
            infoText: '共{0}条',
            infoTextEmpty: '共0条',
            infoTextFiltered: '<span class="label label-warning">从 {1} 条中过滤出 {0} 条</span>',
            filterTextClear: '显示全部'
            //nonSelectedFilter: 'ion ([7-9]|[1][0-2])'
        });
    }
</script>