@{
    ViewBag.Title = "Index";
}
@using Webdiyer.WebControls.Mvc
@using NYB.DeviceManagementSystem.Common
@using NYB.DeviceManagementSystem.ViewModel
@model PagedList<NYB.DeviceManagementSystem.ViewModel.WebUser>

<script type="text/javascript" src="@Url.Content("~/Scripts/User/Index.js")"></script>

@Styles.Render("~/Content/User/User.css");
<div actionname="系统管理">
    <form method="get" class="userSearchForm">
        <select name="project">
            <option value="1">项目管理部</option>
        </select>
        <input type="text" name="userName" id="seacheName" value="" />
        <input style="line-height:0px" type="submit" class="" id="btnSearch" value="搜索" />
    </form>
    <table class="table-common" id="pileInfo">
        <thead>
            <tr>
                <th class="checkbox-column">
                    <input type="checkbox" id="checkedAll_id" class="checkedAll" />
                </th>
                <th>
                    <a href="" sortby="UserName">用户名</a>
                </th>
                <th>
                    <a href="" sortby="LoginName">登录名</a>
                </th>
                <th>
                    地址
                </th>
                <th>
                    联系电话
                </th>
                <th>
                    电子邮件
                </th>
                <th class="operation-column">
                    操作
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                //string randomUrl = String.Format("{0}://{1}:{2}{3}", Request.Url.Scheme, Request.Url.Host, Request.Url.Port, ViewBag.RandomUrl);
                foreach (var user in Model)
                {
                    <tr pileid="">
                        <td>
                            <input type="checkbox" id="checkbox_id" />
                        </td>
                        <td>
                            @user.UserName
                        </td>
                        <td>
                            @user.LoginName
                        </td>
                        <td>
                            @user.Address
                        </td>
                        <td>
                            @user.TelPhone
                        </td>
                        <td>
                            @user.Email
                        </td>
                        <td>
                            @{var routeValues = new { userID = user.ID, returnUrl = Request.Url.AbsoluteUri, _ = DateTime.Now.Ticks };}
                            @*@Html.ActionLink("修改", "UpdateUser", routeValues)*@
                            <a title="修改" href="@(Url.Action("UpdateUser", "User", routeValues))"><img src="@Url.Content("~/Images/edit.png")" /></a>
                            @*@Html.ActionLink("查看", "ViewUser", routeValues)*@
                            <a title="查看" href="@(Url.Action("ViewUser", "User", routeValues))"><img src="@Url.Content("~/Images/look.png")" /></a>
                            @*@Html.ActionLink("删除", "DeleteUser", routeValues, new { name = "DeleteUser" })*@
                            <a href="#" onclick="DeleteUser('@user.ID')" name="DeleteUSer"><img src="@Url.Content("~/Images/del.png")" /></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div class="btn-opreate">
        @Html.Partial("DisplayTemplates/PagerView", Model)
        <p>
            <input type="button" class="blue-button" id="addUser" value="添加" />
            @*<input type="button" id="btnDelete" value="删除" />*@
        </p>
    </div>
</div>

<script type="text/javascript">
    window.UrlResource = {
        UrlAddAction: '@Url.Action("AddUser","User",new { returnUrl = Request.Url.AbsoluteUri})',
    }

    $(document).ready(function () {
        AddUpdateEvent();
        SortAlertRecord();
    })

    function DeleteUser(t) {
        if (window.confirm("是否删除用户？")) {
            $.post('@Url.Action("DeleteUser","User")', { userID: t }, function (result) {
                if (result.Code == 0) {
                    window.location.reload;
                } else {
                    alert(result.Msg);
                }
            })
        }
    }

</script>
