@using NYB.DeviceManagementSystem.ViewModel;
@using NYB.DeviceManagementSystem.Common;
@model NYB.DeviceManagementSystem.ViewModel.WebSupplier
@{
    string returnUrl = ViewBag.ReturnUrl;
    object readonlyValues = null;
    bool isDetails = false;
    if (ViewBag.Action == "Details")
    {
        isDetails = true;
        readonlyValues = new { @readonly = "readonly" };
    }
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<link rel="Stylesheet" href="@Url.Content("~/Content/Common/OperateTable.css")" />

<div leftname="供应商管理" actionname="基础信息管理" class="operationParent">
    <form method="post">
        @(Html.Hidden("returnUrl", returnUrl))
        <div class="common-details-panel">
            <h2>供应商信息</h2>
            @Html.HiddenFor(model => model.ID)
            <fieldset>
                <table class="operateTable">
                    <tr>
                        <td>
                            <b><em>*</em>@Html.LabelFor(model => model.Name)</b>
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Name, readonlyValues)
                            @Html.ValidationMessageFor(model => model.Name)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b><em>*</em>@Html.LabelFor(model => model.Contact)</b>
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Contact, readonlyValues)
                            @Html.ValidationMessageFor(model => model.Contact)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>@Html.LabelFor(model => model.Mobile)</b>
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Mobile, readonlyValues)
                            @Html.ValidationMessageFor(model => model.Mobile)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>@Html.LabelFor(model => model.Phone)</b>
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Phone, readonlyValues)
                            @Html.ValidationMessageFor(model => model.Phone)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>@Html.LabelFor(model => model.Address)</b>
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Address, readonlyValues)
                            @Html.ValidationMessageFor(model => model.Address)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>@Html.LabelFor(model => model.Note)</b>
                        </td>
                        <td wt="400" ht="30" style="margin-top:5px" class="lengthTd">
                            @Html.TextAreaFor(model => model.Note, readonlyValues)
                            @Html.ValidationMessageFor(model => model.Note)
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <div class="common-details-operation-panel">
            <p class="UpdatePile-btn">
                @if (isDetails == false)
                {
                    <input type="submit" id="btnSave" value="保存" class="blue-button" />
                }
                <a class="link-after-button" href="@ViewBag.ReturnUrl">返回</a>
            </p>
        </div>
    </form>
</div>
<script type="text/javascript">
    window.Resource = {
        UrlAdd: '@Url.Action("Create", new { _ = DateTime.Now.Ticks })',
        UrlEdit: '@Url.Action("Edit", new { _ = DateTime.Now.Ticks })',
        ReturnUrl: '@returnUrl',
        UrlAction: '@ViewBag.Action'
    }

    $(document).ready(function () {
        SaveEvent();
        AddTxtAre();
    })

    function SaveEvent() {
        $('form').submit(function (e) {
            e.preventDefault();
            var returnUrl = $('[name="returnUrl"]');

            var param = {};
            param.ID = $('[name="ID"]').val();
            param.Name = $('[name="Name"]').val();
            param.Note = $('textarea[name="Note"]').val();
            param.Contact = $('[name="Contact"]').val();
            param.Mobile = $('[name="Mobile"]').val();
            param.Phone = $('[name="Phone"]').val();
            param.Address = $('[name="Address"]').val();

            if ($('span.errorMessage').length == 0 && $('.field-validation-error').length == 0) {
                if (Resource.UrlAction == 'Create') {
                    AjaxEvent(Resource.UrlAdd, param);
                } else {
                    AjaxEvent(Resource.UrlEdit, param);
                }
            }
        });
        $('select').change(function () {
            $(this).parent().find('.errorMessage').remove();
        })
    }

    function AjaxEvent(url, param) {
        $.post(url, param, function (data) {
            //var result = Json.parse(data);
            if (data.Code == '0') {
                window.location.href = Resource.ReturnUrl;
            } else {
                window.alert(data.Msg);
            }
        });
    }



</script>