@{
    ViewBag.Title = "Index";
}

@using Webdiyer.WebControls.Mvc
@using NYB.DeviceManagementSystem.Common
@using NYB.DeviceManagementSystem.ViewModel
@model PagedList<NYB.DeviceManagementSystem.ViewModel.WebManufacturer>
@Styles.Render("~/Content/User/User.css")
<div leftname="生产厂商管理" actionname="基础信息管理">
    <form method="get" class="userSearchForm">
        <input type="text" name="searchInfo" id="searchInfo" value="" />
        <input style="line-height:0px" type="submit" class="" id="btnSearch" value="搜索" />
    </form>
    <table class="table-common" id="pileInfo">
        <thead>
            <tr>
                <th>
                    名称
                </th>
                <th>
                    联系人
                </th>
                <th>
                    手机
                </th>
                <th>
                    电话
                </th>
                <th>
                    地址
                </th>
                <th>
                    备注
                </th>
                <th class="operation-column">
                    操作
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var manufacturer in Model)
                {
                    <tr pileid="">
                        <td>
                            @manufacturer.Name
                        </td>
                        <td>
                            @manufacturer.Contact
                        </td>
                        <td>
                            @manufacturer.Mobile
                        </td>
                        <td>
                            @manufacturer.Phone
                        </td>
                        <td>
                            @manufacturer.Address
                        </td>
                        <td>
                            @manufacturer.Note
                        </td>
                        <td>
                            @{var routeValues = new { manufacturerID = manufacturer.ID, returnUrl = Request.Url.AbsoluteUri, _ = DateTime.Now.Ticks };}
                            @*@Html.ActionLink("修改", "Edit", routeValues)*@
                            <a title="修改" href="@(Url.Action("Edit", "ManufactureManager", routeValues))"><img src="@Url.Content("~/Images/edit.png")" /></a>
                            @*@Html.ActionLink("查看", "Details", routeValues)*@
                            <a title="查看" href="@(Url.Action("Details", "ManufactureManager", routeValues))"><img src="@Url.Content("~/Images/look.png")" /></a>
                            <a href="#" onclick="DeleteManufacturer('@manufacturer.ID')" name="DeleteManufacturer"><img src="@Url.Content("~/Images/del.png")" /></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div class="btn-opreate">
        @Html.Partial("DisplayTemplates/PagerView", Model)
        <p>
            <input type="button" class="blue-button" id="addManufacturer" value="添加" />
        </p>
    </div>
</div>

<script type="text/javascript">
    window.UrlResource = {
        UrlAddAction: '@Url.Action("Create", new { returnUrl = Request.Url.AbsoluteUri })'
    }

    $(document).ready(function () {
        $('#addManufacturer').click(function () {
            window.location = window.UrlResource.UrlAddAction;
        })
    })

    function DeleteManufacturer(t) {
        if (window.confirm("是否删除？")) {
            $.post('@Url.Action("Delete")', { manufacturerID: t }, function (result) {
                if (result.Code == 0) {
                    window.location.reload();
                } else {
                    alert(result.Msg);
                }
            })
        }
    }
</script>
