@{
    ViewBag.Title = "NavLeft";
    Layout = "~/Views/Shared/NavLeftTemplate.cshtml";
    //Layout = "~/Views/Shared/NavLeft.cshtml";
    string ControllerName = ViewContext.RouteData.Values["controller"] as string;
}
<ul id="leftUl">
    @if (ControllerName == "DeviceTypeManager")
    {
        <li style="background:blue">
            <a href="@Url.Action("Index", "DeviceTypeManager")">设备类别管理</a>
        </li>
    }
    else
    {
        <li>
            <a href="@Url.Action("Index", "DeviceTypeManager")">设备类别管理</a>
        </li>
    }

    <li>
        <a href="@Url.Action("Index", "SupplierManager")">供应商管理</a>
    </li>
    <li>
        <a href="@Url.Action("Index", "ManufactureManager")">生产厂商管理</a>
    </li>
</ul>

<script>
    $(document).ready(function () {
        @*$("#leftUl li").each(function (i, li) {
            li.style.background = "";
            var url = li.firstChild.baseURI;
            if (url.indexOf("@ControllerName") > 0) {
                alert(li);
            }
        })*@
    })
</script>
