@using Webdiyer.WebControls.Mvc
@using NYB.DeviceManagementSystem.Common
@using NYB.DeviceManagementSystem.ViewModel
@model PagedList<NYB.DeviceManagementSystem.ViewModel.WebRepairRecord>
@Styles.Render("~/Content/User/User.css")
@{
    string returnUrl = ViewBag.ReturnUrl;
}
<link href="@Url.Content("~/Content/Plugin/jQuery-UI/jquery-ui-1.8.16.custom.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Plugin/jQuery-UI-Timepicker/jquery-ui-timepicker.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-timepicker-addon.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.ui.datepicker-zh-CN.js")" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/User/Index.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Common/Index.js")"></script>
<div leftname="维修记录信息" actionname="设备管理">

    <form method="get" id="searchForm" class="userSearchForm">
        <label>开始时间</label>
        <input name="startTime" txttype="time" class="time" type="text" value="@(ViewBag.StartTime)" />
        <label>结束时间</label>
        <input name="endTime" txttype="time" class="time" type="text" value="@(ViewBag.EndTime)" />
        <input type="text" name="searchInfo" id="seacheName" value="@( ViewBag.SearchInfo)" />
        <label>每页显示行数</label>
        <select name="pageSize" style="height:28px;">
            <option @(ViewBag.PageSize == 10 ? "selected" : "") value="10">10</option>
            <option @(ViewBag.PageSize == 15 ? "selected" : "") value="15">15</option>
            <option @(ViewBag.PageSize == 20 ? "selected" : "") value="20">20</option>
            <option @(ViewBag.PageSize == 25 ? "selected" : "") value="25">25</option>
            <option @(ViewBag.PageSize == 30 ? "selected" : "") value="30">30</option>
        </select>
        <input style="line-height:0px" type="submit" class="" id="btnSearch" value="搜索" />
    </form>

    <table class="table-common" id="pileInfo">
        <thead>
            <tr>
                <th>
                    设备名称
                </th>
                <th>
                    维修人
                </th>
                <th>
                    维修日期
                </th>
                <th>
                    备注
                </th>
                <th>
                    创建时间
                </th>
                <th>
                    操作
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var device in Model)
                {
                    <tr pileid="">
                        <td>
                            @device.DeviceName
                        </td>
                        <td>
                            @device.Operator
                        </td>
                        <td>
                            @device.RepairDate.ToString("yyyy-MM-dd")
                        </td>
                        <td title="@(@device.Note)" class="lengHideTd">
                            @device.Note
                        </td>
                        <td>
                            @device.CreateDate.ToString("yyyy-MM-dd HH:mm:ss")
                        </td>
                        <td>
                            @{var routeValues = new { repairRecordID = device.ID, deviceName = device.DeviceName, returnUrl = Request.Url.AbsoluteUri, _ = DateTime.Now.Ticks };}
                            @*@Html.ActionLink("修改", "EditRepairRecord", routeValues)*@
                            <a title="修改" href="@(Url.Action("EditRepairRecord", "Device", routeValues))"><img src="@Url.Content("~/Images/edit.png")" /></a>
                            @*<a href="#" onclick="DeleteDeviceRepairRecord('@device.ID')" name="DeleteDeviceType">刪除</a>*@
                            <a href="#" title="删除" onclick="DeleteDeviceRepairRecord('@device.ID')" name="DeleteDeviceType"><img src="@Url.Content("~/Images/del.png")" /></a>
                            <a title="查看" href="@(Url.Action("ViewRepairRecord", "Device", routeValues))"><img src="@Url.Content("~/Images/look.png")" /></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @Html.Partial("DisplayTemplates/PagerView", Model)

    @if (!string.IsNullOrWhiteSpace(returnUrl))
    {
        <div class="btn-opreate">
            <p>
                <a href="@(returnUrl)">此页面从设备定位过来，点击返回设备页面</a>
            </p>
        </div>
    }
</div>
<script type="text/javascript">
    window.UrlResource = {
        UrlAddAction: '@Url.Action("CreateDevice", "Device", new { returnUrl = Request.Url.AbsoluteUri, _ = DateTime.Now.Ticks })',
        UrlImage: '@Url.Content("~/Content/Plugin/jQuery-UI-Timepicker/images/calendar.png")'
    }

    $(document).ready(function () {
        SortAlertRecord();
        SearchInfoFocus('请输入设备名称、维修人');
        BindDatePick();
    })

    function DeleteDeviceRepairRecord(t) {
        if (window.confirm("是否删除？")) {
            $.post('@Url.Action("DelRepairRecord", new { _ = DateTime.Now.Ticks })', { repairRecordID: t }, function (result) {
                if (result.Code == 0) {
                    window.location.reload();
                } else {
                    alert(result.Msg);
                }
            })
        }
    }

    function BindDatePick() {
        var path = UrlResource.UrlImage;
        $('.time').datepicker({
            showButtonPanel: true,
            yearRange: 'c-10:c+2',
            showOn: "button", buttonImageOnly: true,
            numberOfMonths: 1,
            changeMonth: true,
            changeYear: true,
            buttonImage: path
        }).datepicker("option", "dateFormat", 'yy-mm-dd');;
        BindDatePickerTriggerEvent();
        $('.time').attr('readonly', 'readonly');
    }
</script>
